body {
    font-family: "Helvetica","Arial",sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0;
    padding: 0;
    background: #3e3e3e;
}

.header {
    height: 80px;
    display: flex;
    align-items: center;
}

.header__h1 {
    margin: 20px;
    padding: 10px;
    color: #728aa0;
}

.doc .doc__background-ribbon {
    height: 200px;
    background: #007bd0;
}

.doc .doc__text-editor {
    width: 60%;
    padding: 40px 28px;
    min-height: 350px;
    background: #ffffff;
    margin: 0 auto;
    transform: translateY(-150px);
}

.saveButton{
    position: relative;
    left: 270px;
}

#saveAndQuit a{
    text-decoration: none;
    color: black;
}